{% extends "pipeline_base.html" %}

{% block select_source %}
<div class="col card border-dark mb-3 mt-3">
    <h2 class="card-header">Select data source</h2>
    <div class="card-body">
        <form action="/reset_session" method="post">
            <input type="submit" class="btn btn-secondary mb-3" value="Reset session">
        </form>
        <form action="/select_source" method="post">
        <select name="source" id="source" class="form-select mb-3">
            <option value="Local" {% if session.get("data_source") == "Local" %} selected {% endif %}>Local</option>
            <option value="XNAT" {% if session.get("data_source") == "XNAT" %} selected {% endif %}>XNAT</option>
        </select>
        <input type="submit" class="btn btn-dark mb-3" value="Select"></button>
    </form>

{% if session.get("data_source") == "XNAT" %}

<div class="col card border-gray mt-3">
    <h4 class="card-header">XNAT connection details</h3>
    <div class="card-body">
    <form action="/xnat_connect" method="post">
        <div class="form-floating">    
            <input id="XNATurl" name="XNATurl" type="url" list="defaultURLs" class="form-control" placeholder="https://dev.shef.ac.uk" required/>
            <label for="XNATurl">XNAT URL</label>
        </div>
            
        <div class="form-floating">
            <input id="XNATuser" name="XNATuser" type="text" class="form-control" placeholder="username" required/>
            <label for="XNATuser">XNAT Username</label>
        </div>
            
        <div class="form-floating">
            <input id="XNATpass" name="XNATpass" type="password" class="form-control" placeholder="Password" required/>
            <label for="XNATpass">XNAT Password</label>
        </div>
            
        <input type="submit" value="Connect"></button>
            
        <datalist id="defaultURLs">
            <option value="https://polaris-pacs-dev1.shef.ac.uk/"></option>
        </datalist>
    </form><br>
    {% if session.get("XNAT_connected") %}
        Connection open to server {{ session.get("XNAT_servername") }}
        <form action="/xnat_disconnect" method="post">
            <input type="submit" value="Disconnect"></button>
        </form>
    {% endif %}
    </div>
    </div>
{% endif %}

    </div>
</div>
{% endblock %}


{% block upload_files %}
{% if session.get("upload_allowed") %}
<div class="col card border-dark mb-3">
    <h2 class="card-header">Upload file</h2>
    <div class="card-body">
    <body>Currently uploaded file: <p style="color:#0000A0;font-weight: bold;" > {{ session.get("current_file") }}</p></body>
    <form action = "/upload_file" method="post" enctype = "multipart/form-data">
        <label for="file">Select new file</label>
        <input type = "file" name = "file" class="form-control mb-3"/>
        <input type = "submit" class="btn btn-dark mb-3" value = "Upload"/>
    </form>
    <form action = "/clear_file" method="post">
        <input type = "submit" class="btn btn-dark" value = "Clear"/>
    </form>
{% endif %}
</div>
</div>

{% endblock %}

{% block select_scans %}
{% if session.get("current_file") %}
<div class="col card border-dark mb-3">
    <h2 class="card-header">Select scans</h2>
    <div class="card-body">
    <form action="/select_scans" method="post">
        <label for="image-data">Choose specific scans:</label><br>
        <select name="image-data" id="image-data" class="form-select" multiple>
            {% for img in session.get("scan_list") %}
            <option value="{{img}}" {% if img in session.get("selected_scans") %} selected {% endif %}>{{ img }}</option>
            {% endfor %}
        </select>
        <p>or</p>
        <input type="checkbox" name="use_all" id="use_all" value="use_all" class="form-check-input">
        <label for="use_all" class="form-check-label mb-3">Use all scans</label><br>
        <input type="submit" class="btn btn-dark" name="select_scans" value="Select Scans">
    </form>
    </div>
</div>
{% endif %}
{% endblock %}
    
{% block select_pipeline %}
{% if session.get("selected_scans") %}
<div class="col card border-dark mb-3">
    <h2 class="card-header">Select pipeline</h2>
    <div class="card-body">
    <form action="/pipeline" method="post">
        <label for="method">Select pipeline to use:</label>
        <select name="method" id="method" class="form-select">
            {% for label in methodList %}
            <option value="{{label}}">{{ label }}</option>
            {% endfor %}
        </select><br>
        <input type="checkbox" name="priority" id="priority" value="priority" class="form-check-input">
        <label for="priority" class="form-check-label mb-3">Prioritise job</label><br>
        
        <label for="out_dir" class="form-check-label mb-3 me-3">Save output to:</label>
        <input type="text" name="out_dir" id="out_dir"><br>
        <input type="submit" class="btn btn-dark" name="queue_pipeline" value="Queue pipeline">
    </form>
    </div>
</div>
{% endif %}
{% endblock %}